@property --radius-lg {
  syntax: "<length>";
  inherits: false;
  initial-value: 12px;
}

@property --fast-transition {
  syntax: "<time>";
  inherits: false;
  initial-value: 150ms;
}

@property --overlay-alpha {
  syntax: "<number>";
  inherits: false;
  initial-value: 0.6;
}
